.projPic {
    max-height: 15em;
}

.myPic>img {
    max-width: 20em;
}

body,
.card,
.card-body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/fishnets-and-hearts.png");
}

i {
    font-size: 2em !important;
}